# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Temporary files
tmp/
temp/

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor configurations
.vscode/
.idea/

#for testing endpoints
.rest